<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.ranger.constraint" name="TestChecker" schema="schema/net.ranger.constraint.exsd"/>
	<!-- PLUGIN VIEW -->
	<extension point="org.eclipse.ui.views">
		<category id="Ranger" name="Ranger">
		</category>
		<view
		      category="Ranger"
		      class="net.ranger.plugin.gui.SearchView"
		      icon="icons/arrow-split.png"
		      id="net.ranger.plugin.gui.SearchView"
		      name="Ranger">
		</view>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view
			     id="net.ranger.plugin.gui.SearchView"
			     ratio="0.5"
			     relationship="right"
			     relative="org.eclipse.ui.views.TaskList">
			</view>
		</perspectiveExtension>
	</extension>
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts.xml">
		</contexts>
	</extension>
	
	<!-- PREFERENCE PAGE -->
	<extension point="org.eclipse.ui.preferencePages">
		<page class="net.ranger.plugin.gui.SearchViewPreferencePage" id="net.ranger.plugin.gui.SearchViewPreferencePage" name="Ranger">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="net.ranger.plugin.gui.PreferenceInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.ui.propertiesView">
	</extension>
	
	<!-- COMMANDS -->
	<extension point="org.eclipse.ui.bindings">
		<key 
			actionId="net.ranger.plugin.actions.StartSearchAction"
			commandId="net.ranger.plugin.commands.search.startSearch" 
			contextId="org.eclipse.ui.contexts.window" 
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="Ctrl+Alt+T">
		</key>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<category id="net.ranger.plugin.commands.search" name="Search">
		</category>
		<command categoryId="net.ranger.plugin.commands.search" id="net.ranger.plugin.commands.search.startSearch" name="Start Search">
		</command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="net.ranger.plugin.gui.StartSearchCommandHandler" commandId="net.ranger.plugin.commands.search.startSearch">
		</handler>
	</extension>
	
	<!-- POPUP MENU -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true" id="trackTest.popupMenus" objectClass="org.eclipse.core.resources.IFile" nameFilter="*.java">
			<action
			   class="net.ranger.plugin.gui.StartSearchPopupMenuItem"
			   icon="icons/arrow-split.png"
			   enablesFor="1"
			   id="net.ranger.plugin.gui.StartSearchPopupMenuItem"
			   label="Search Tests"
			   definitionId="net.ranger.plugin.commands.search.startSearch"
			   tooltip="Search for tests directly or indirectly affected by the selected method">
			</action> 
		</objectContribution>    
	</extension>
</plugin>
